<html>
    <head>
        <style>
            img{
                width:40%;
            }
            #timestamp{
                color: blue;
                padding-left: 20%;
            }
        </style>
    </head>
<body>
<div class="container">
    <h1>Here are the awesome quotes!</h1>

    <% for (var user in quotes) { %>
        <h3 id="quote"> "<%= quotes[user].quote %>"</h3>
        <h4 id="timestamp"> "<%= quotes[user].name %>" at <%= quotes[user].created_at %></h4>
        <hr>
    <% } %>


    
</div>

</body>
</html>